body{
    width: 100%;
    height:100vh;
    background:green;
}

.tho{
    color:blueviolet;
}
.contain{
    color:aqua;
    font-size: 20px;
}
.tho{
    background-color: #cc2d2d;
    font-size: 10px;
}